header {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: blueviolet(224, 204, 204);
}

.Title {
	color: rgb(255, 255, 255);
	flex: 5;
}
/*nav ul {
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
nav a {
	margin: 0 30px;
	padding: 0 5px;
	text-decoration: none;
}*/

/*.navbar-access {
	margin-top: 35px;
	text-decoration: none;
}*/

.about-us {
	color: rgb(53, 61, 70);
	/*	margin-top: 35px;*/
	text-decoration: none;
}

/*.form-register {
	color: rgb(53, 61, 70);
	margin-top: 35px;
	text-decoration: none;
}*/

.toggle,
[id^="drop"] {
	display: none;
}
.bbt-menu {
	width: 100%;
}
nav {
	width: 100%;
	padding: 0;
	flex: 3;
}
nav:after {
	content: "";
	display: table;
	clear: both;
}
nav ul {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}
nav ul li {
	margin: 0px;
	display: inline-block;
	float: left;
}

nav a,
nav a:hover,
nav a:visited {
	display: block;
	padding: 0 20px;
	color: #fff;
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
}
nav a:hover {
	background-color: #333;
}

nav ul li:hover > ul {
	display: inherit;
	position: relative;
}
nav label span {
	float: right;
}
.toggle,
[id^="drop"] {
	display: none;
}
nav input[type="checkbox"] {
	display: none;
}

/* Media Queries
   *******************************************/

@media all and (max-width: 768px) {
	nav {
		margin: 0;
	}

	.toggle + a,
	.menu {
		display: none;
	}
	.toggle {
		display: block;
		background-color: #333;
		padding: 0 20px;
		color: #fff;
		font-size: 40px;
		line-height: 60px;
		text-decoration: none;
		border: none;
	}
	.toggle:hover {
		background-color: #000000;
	}
	[id^="drop"]:checked + ul {
		display: block;
		position: absolute;
		top: 124px;
		background: white;
		width: 100%;
		margin: 0 auto;
		left: 0;
		right: 0;
		text-align: center;
	}
	nav ul li {
		display: block;
		width: 100%;
	}
	nav a,
	nav a:hover,
	nav a:visited {
		color: black;
	}
	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}
	nav a:hover {
		background-color: #000000;
		color: white;
	}
}
@media (min-width: 768px) {
	.Title {
		flex: 3;
	}
	nav {
		flex: 5;
	}
}
