header {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	padding: 0 20px;
	background: rgb(191, 101, 230);
}

nav ul {
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
nav a {
	margin: 0 30px;
	padding: 0 5px;
	text-decoration: none;
}

.navbar-access {
	margin-top: 35px;
	text-decoration: none;
}
